TMG/.svn

TMG/Debug
*.manifest

*.lastbuildstate

*.idb

*.sdf

*.vcproj

*.gitignore

*.opensdf

*.ipch

*.res

*.xcodeproj

*.o

*.so
dependencies
TMG/Release/
/TMG/.vs/TMG/v15/Browse.VC.opendb
/TMG/.vs/TMG/v15/Browse.VC.db
