TMG/.svn
TMG/Debug
*.manifest
*.lastbuildstate
*.idb
*.suo
*.sdf
*.vcproj
*.gitignore
*.opensdf
*.ipch
*.res
*.xcodeproj
*.o
*.so
dependencies
TMG/Release/
/TMG/.vs/
/TMG/.vs/
*.zip
/TMG/x64
